<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Docentenlogin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<a href="{{ url_for('student.index') }}" class="back-link">← Terug naar begin</a>
<h2>Docenten login</h2>
<form method="POST">
    <input type="text" name="username" placeholder="Gebruikersnaam" required><br>
    <input type="password" name="password" placeholder="Wachtwoord" required><br>
    <button type="submit">Inloggen</button>
</form>
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
</body>
</html>